<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{{url_for('edit_task')}}" method="POST">
      <p>Task name: {{task.task}}</p>
      <input name="id" value="{{task.id}}" hidden="hidden" />
      <input name="task" type="text" placeholder="New-tasks" />
      <button type="submit">Change Task</button>
    </form>
  </body>
</html>
